<nav class="flex items-center justify-between bg-white px-10 py-4 shadow">
  <div class="flex items-center gap-4">
    <span class="font-bold text-xl text-[#111418]">Knowledge Hub</span>
  </div>
  <ul class="flex gap-6 font-medium text-gray-600">
    <li>
      <a
        routerLink="/test"
        routerLinkActive="text-blue-600 font-bold"
        class="hover:underline"
        >首頁</a
      >
    </li>
    <li>
      <a
        routerLink="/admin/topics"
        routerLinkActive="text-blue-600 font-bold"
        class="hover:underline"
        >主題管理</a
      >
    </li>
    <li>
      <a
        routerLink="/articles"
        routerLinkActive="text-blue-600 font-bold"
        class="hover:underline"
        >文章管理</a
      >
    </li>
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="text-blue-600 font-bold"
        class="hover:underline"
        >我的帳號</a
      >
    </li>
  </ul>
</nav>
